//vars
$primary-darkpink: rgb(154, 79, 74);
$primary-lightpink: rgb(226, 127, 120);
$primary-beige:rgb(181 168 164);;
$primary-drown: rgb(42 32 27);
$primary-dark: rgba(26, 20, 17, 0.704);
// brake-points
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1100px;
$breakpoint-large-desktop: 1200px;